<div id="activate-<%= cao.id %>" class="modal" style="display: none;">
  <%= form_for([:admin, organization, cao], :url => activate_admin_organization_cao_path(organization.id, cao.id), :method => :post ) do |f| %>
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&#215;</a>
      <h4>Are you sure? Do you want to activate COA?</h4>
    </div>

    <div class="modal-footer">
      <%= f.submit "Activate", :class => "btn" %>
      <a class="btn" data-dismiss="modal" href="#">Cancel</a>
    </div>
  <% end %>
</div>
