ONESTOP_ROUTER:
  SERVER_URL: http://10.100.10.213
  BATCH_UPLOAD_API_URL: api/v1/ois/batch-upload.json
  REQUEST_BATCHUPLOAD_RESPONDERS_URL: api/v1/client/request-batchupload-responders
  EPCS_IDP:
    OISID: epcsidp
    OISPASSWORD: fWqFFLRqtbO10b7RVUVryX2yJ2JFzeT5XsKcH6F8FldmeZOpvFA
  
  REQUEST_IDP:
    API_URL: api/v1/client/request-idp.json
    CLIENT_APPLICATION:
      CLIENTID: provisioningsystem
      CLIENTPASSWORD: TitMykIiGeyoKLGIJcYI4FPKCLC4tJYpeFgTQk0NyZ98OP0kncSAlrR7DS1aeXpuS

  VERIFY_IDENTITY:
    API_URL: api/v1/client/verify-identity.json
    CLIENT_APPLICATION:
      CLIENTID: provisioningsystem
      CLIENTPASSWORD: TitMykIiGeyoKLGIJcYI4FPKCLC4tJYpeFgTQk0NyZ98OP0kncSAlrR7DS1aeXpuS

  OIS:
    EPCS_IDP:
      OISID: epcsidp
      OISPASSWORD: fWqFFLRqtbO10b7RVUVryX2yJ2JFzeT5XsKcH6F8FldmeZOpvFA
    RCOPIA:
      OISID: rcopia
      OISPASSWORD: dj1RaoFU8M9oKehOxBOJ6EAWSNmRQAfhjlpPDgYZjmkrrb0JLztSeKineaLhcrN
    MOXY:
      OISID: moxy
      OISPASSWORD: l8GuOvd3Qx748VgPrJ5expPuWqEbGP0kToVzUCBftT906wTZf1mVHqCA0NqhhMzIbi1AaP
    PROVISIONING_UI:
      CLIENTID: provisioningsystem
      CLIENTPASSWORD: TitMykIiGeyoKLGIJcYI4FPKCLC4tJYpeFgTQk0NyZ98OP0kncSAlrR7DS1aeXpuS

  API:
    SAVE_PROVIDER:
      URL: api/v1/ois/save-provider.json
      
  VERIFY_CONNECTIVITY: connectivity/verify.json

EPCS_OIS:
  SERVER_URL: http://10.100.10.211
  BATCH_UPLOAD_DEST_URL: api/v1/ois/epcs/batch_upload_dest.json
  VERIFY_CONNECTIVITY: connectivity/verify.json

SUPERNPI_OIS:
  SERVER_URL: http://10.100.10.210
  VIEW_USER_URL: api/v1/ois/supernpis/view-user.json
  VERIFY_CONNECTIVITY: connectivity/verify.json

RCOPIA_OIS:
  SERVER_URL: http://10.100.10.45:3002
  BATCH_UPLOAD_DEST_URL: api/v1/ois/rcopia/batch_upload_dest.json

MOXY_OIS:
  SERVER_URL: http://10.100.10.45:3003
  BATCH_UPLOAD_DEST_URL: api/v1/ois/moxy/batch_upload_dest.json
