<div class="organization-form" style="border: 1px solid grey;padding: 20px 0px 0px 50px; border-radius: 20px;">
  <h3>Edit Organization</h3>

  <%= render 'form', organization: @organization, id: "edit-organization" %>
</div>

<%= link_to 'Back', admin_organizations_path %>
